<!DOCTYPE html>
<html>

<head>
    <title>You've Already Applied</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="icon" type="image/png" href="/imgs/LOGO-S-transparent-icon-bck.png">
</head>

<body>
    <div class="already-applied-container">
        <h1>You've Already Applied</h1>
        <p>It looks like you've already applied for this job. You can view other open positions below.</p>
        <a href="/job-listing">View Other Jobs</a>
    </div>
</body>

</html>