<!DOCTYPE html>
<html>

<head>
    <title>Something Went Wrong</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="icon" type="image/png" href="/imgs/LOGO-S-transparent-icon-bck.png">
</head>

<body>
    <div class="error-container">
        <h1>Oops! Something Went Wrong</h1>
        <p>We're sorry, but there was an error processing your request. Please try again later.</p>
        <a href="/job-listing">Go back to Our Open Positions</a>
    </div>
</body>

</html>