<!DOCTYPE html>
<html>

<head>
    <title>Video Assessment</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <div id="assessment-container">
        <div id="inner-container">
            <div id="part-container">
                <!-- The content for the current part of the assessment will be loaded here dynamically by script.js -->
            </div>
            <div id="button-container">
                <button id="next-button">Start Interview</button>
                <button id="submit-button" style="display:none;">Submit</button>
                <!-- Ensure this button is hidden initially -->
            </div>
        </div>
    </div>
    <!-- Hidden inputs for exam link ID and candidate email -->
    <input type="hidden" id="exam-link-id" value="<%= examLinkId %>">
    <input type="hidden" id="candidate-email" value="<%= userEmail %>">

    <script type="application/json" id="exam-start-time-json">
        {"startTime": "<%= examStartTime %>"}
    </script>

    <script src="/script.js"></script>
</body>

</html>