<!DOCTYPE html>
<html>

<head>
    <title>React Assessment</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <div id="assessment-container">
        <h1>React Assessment</h1>
        <input type="hidden" id="exam-link-id" value="<%= examLinkId %>">
        <input type="hidden" id="exam-start-time" value="<%= examStartTime %>">
        <input type="email" id="candidate-email" value="<%= userEmail %>" readonly style="background-color: #ddd;">
        <div id="logo-container" class="logo-container">
            <img src="/imgs/LOGO-transparent.png" alt="Sharee Coin Logo">
        </div>
        <div id="timer"><span class="time-remaining">Time Remaining:</span> <span id="countdown">15:00</span></div>
        <div id="part-container">
        </div>
        <div id="button-container">
            <button id="back-button" class="back-button" style="display: none;">Back</button>
            <button id="next-button" class="next-button" style="display: none;">Next Part</button>
        </div>
        <button id="submit-button" class="submit-button">Submit</button>
    </div>

    <script type="application/json" id="exam-start-time-json">
        {"startTime": "<%= examStartTime %>"} 
    </script>

    <script src="/script.js"></script>
</body>

</html>