<!DOCTYPE html>
<html>

<head>
    <title>Exam Link Expired</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="icon" type="image/png" href="/imgs/LOGO-S-transparent-icon-bck.png">
</head>

<body>
    <div class="exam-expired-container">
        <h1>Exam Link Expired</h1>
        <p>The assessment link you tried to access has expired. Please contact us if you need a new link.</p>
        <a href="/job-listing">View Other Jobs</a>
    </div>
</body>

</html>